<header class="header">
   <div class="canvas" id="canvas">
      <img src="../assets/images/header/Logotype.svg" class="logotyp-one" alt="Logo"srcset="../assets/images/header/Logotype.svg 2x">
      <a class="toggle close" href="#"> <img src="../assets/images/header/crest.svg" alt="" class="crest"></a>
     
      <div class="line_onetu"></div>
      <nav class="dws-menu-canvas">
         <ul class="menu-canvas">
            <li class="canvas-a"><a href="#">Demos <img src="../assets/images/header/Path.png" alt="" srcset="../assets/images/header/Path.png 2x"> </a></li>
            <li class="canvas-b"><a href="#">Post <img src="../assets/images/header/Path.png" alt=""srcset="../assets/images/header/Path.png 2x"></a> </li>
            <li class="canvas-c"><a href="#">Features <img src="../assets/images/header/Path.png" alt="" srcset="../assets/images/header/Path.png 2x"></a></li>
            <li class="canvas-d"><a href="#">Categories <img src="../assets/images/header/Path.png" alt="" srcset="../assets/images/header/Path.png 2x"></a></li>
            <li class="canvas-e"><a href="#">Shop <img src="../assets/images/header/Path.png" alt="" srcset="../assets/images/header/Path.png 2x"></a></li>
            <li class="canvas-f"><a href="#">Buy Now</a> </li>
         </ul>
      </nav>
   </div>


   <div class="logo_header">
      <a class="toggle open" href="#canvas"><img src="../assets/images/header/Combined Shape.svg" class="burger" alt="Burger"
         srcset="../assets/images/header/Combined Shape.svg 2x"></a>
     
      <img src="../assets/images/header/Logotype.svg" class="logotyp" alt="Logo"
         srcset="../assets/images/header/Logotype.svg 2x">
      <img src="../assets/images/header/Combined Shape.png" class="lupa" alt="lupa"
         srcset="../assets/images/header/Combined Shape.png 2x">
   </div>
   <div class="line_one"></div>
   <div class="logo_footer">
   </div>
   <nav class="dws-menu">
      <ul class="menu">
         <li class="menu-one"><a href="#">Demos <img src="../assets/images/header/Path.png" alt=""
                  srcset="../assets/images/header/Path.png 2x"> </a>
            <ul>
               <li class="lin-a"><a href="#">Post Header <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a></li>
               <li class="lin-b"><a href="#">Post Layout <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-c"><a href="#">Share Buttons <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-d"><a href="#">Gallery Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-f"><a href="#">Video Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
            </ul>
         </li>
         <li class="menu-one"><a href="#">Post <img src="../assets/images/header/Path.png" alt=""
                  srcset="../assets/images/header/Path.png 2x"></a>
            <ul>
               <li class="lin-a"><a href="#">Post Header <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a></li>
               <li class="lin-b"><a href="#">Post Layout <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-c"><a href="#">Share Buttons <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-d"><a href="#">Gallery Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-f"><a href="#">Video Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
            </ul>
         </li>
         <li class="menu-one"><a href="#">Features <img src="../assets/images/header/Path.png" alt=""
                  srcset="../assets/images/header/Path.png 2x"></a>
            <ul>
               <li class="lin-a"><a href="#">Post Header <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a></li>
               <li class="lin-b"><a href="#">Post Layout <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-c"><a href="#">Share Buttons <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-d"><a href="#">Gallery Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-f"><a href="#">Video Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
            </ul>
         </li>
         <li class="menu-one"><a href="#">Categories <img src="../assets/images/header/Path.png" alt=""
                  srcset="../assets/images/header/Path.png 2x"></a>
            <ul>
               <li class="lin-a"><a href="#">Post Header <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a></li>
               <li class="lin-b"><a href="#">Post Layout <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-c"><a href="#">Share Buttons <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-d"><a href="#">Gallery Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-f"><a href="#">Video Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
            </ul>
         </li>
         <li class="menu-one"><a href="#">Shop <img src="../assets/images/header/Path.png" alt=""
                  srcset="../assets/images/header/Path.png 2x"></a>
            <ul>
               <li class="lin-a"><a href="#">Post Header <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a></li>
               <li class="lin-b"><a href="#">Post Layout <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-c"><a href="#">Share Buttons <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-d"><a href="#">Gallery Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
               <li class="lin-f"><a href="#">Video Post <img src="../assets/images/header/Path_left.png" alt=""
                        srcset="../assets/images/header/Path_left.png 2x"></a> </li>
            </ul>
         </li>
         <li><a href="#">Buy Now</a> </li>
      </ul>
   </nav>
   <div class="line_tu"></div>
</header>